html
  head  
    title Mi primera pagina con express
  body
    // asi se comenta en pug
    - var arreglo = [1,2,3,4,5];
    - for (var i = arreglo.length-1; i>=0; i--)
      p.
        hola probando insecion link #[a(href="https://plus.google.com/?hl=es") link] !!!
    h1!=hola
